body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: url('./lightblackpaper.jpeg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Gill Sans Extra Bold Display', sans-serif;
  color: black;
  overflow-x: hidden;  /* prevents horizontal scroll */
  overflow-y: auto;    /* enables vertical scroll */
}

/* Container for the text boxes with background image */


.text-container-manifesto {
  position: relative;
width: 80%;
  margin: 5vh auto;
  padding: 3vh 4vw 6vh; /* bottom padding added */

  background-color: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  z-index: 1;

  height: auto;
}


.text-container {
  top: 2.5vh;
  position: relative;
  height: auto;
  width: 80%;
  margin: 0 auto;

  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  z-index: 1;
}


    
    .text-container-poster {
      top: 2.5vh;
      position: relative;
      height: 77vh; /* 95% of the viewport height */
      width: calc(95vh * 0.707); /* Width based on A4-like aspect ratio (1:√2) */
      max-width: 90vw; /* Prevent overflow on narrow screens */
      margin: 0 auto;
      background: url(./poster.jpg) no-repeat center center/cover;
      background-size: cover; /* Ensure the background covers the entire container */
      border-radius: 15px; /* Slightly rounded corners */
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.4); /* Subtle shadow around the container */
      box-sizing: border-box; /* Ensure padding does not affect container size */
    }
